*.swp
*.pyc
scripts/flikr_scraper.py
scripts/instagram_scraper.py
static/plaques.geojson
static/plaques_updated.json
lib/__init__.pyc
lib/cloudstorage/__init__.pyc
lib/cloudstorage/api_utils.pyc
lib/cloudstorage/cloudstorage_api.pyc
lib/cloudstorage/common.pyc
lib/cloudstorage/errors.pyc
lib/cloudstorage/rest_api.pyc
lib/cloudstorage/storage_api.pyc
key_googlemaps.txt   
key_googlevision.txt 
key_twitter.txt 
*.un~
