
body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}

/* Pintrest-like */

.pinterest-row {
    -moz-column-width: 18em;
    -webkit-column-width: 18em;
    -moz-column-gap: 0.25em;
    -webkit-column-gap: 0.25em;
}

/* Highlight a column element grey when mouse-overed */
.pinterest-row > a > div:hover {
    background-color: #40495A;
}
.item {
    display: inline-block;
    padding:  .25rem;
    width:  100%;
}

.well {
    position:relative;
    display: block;
}

.thumbnail.right-caption > img {
    float: left;
    margin-right: 9px;
}

.logo {
    background: url('/images/rtp_2048x2048.jpg') no-repeat center center;
    background-size: cover;
    background-position: center 55%;
    background-color: #3E3E3E;  /* RTP gray */
    margin-top: 50px;
    height: 13vw;
}

.title {
    background: #3E3E3E;  /* RTP gray */
    text-align: center;
    font-size: 1.0em;
    text-shadow: 1px 1px 0 #222;
    padding: 2px;
    box-sizing: border-box;
    margin-bottom: 2px;
}

.title > a {
    text-decoration: none;
}

.title,
.title > a,
.title > a:hover {
    color: #6796a0;  /* RTP blue */
}


/* Make navbar buttons stand out more when hovered */
/* TODO: this isn't working */
.navbar > a:hover, .navbar > a:focus {
    background-color: #40495A;
    background-color: #40495A;
    color: #FFF;
}


/* Center column class (used by the map) */
.col-centered {
    float: none;
    margin: 0 auto;
}

/* Sticky footer styles */
html {
    position: relative;
    min-height: 100%;
}

/* Prevent navbar overlap */
/* Margin bottom by footer height */
/* put a smidge of blank space at the bottom, just before the footer*/
body {
    margin-bottom: 350px;
    padding-bottom: 10px;
}

.footer {
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 350px;
    background-color: #f5f5f5;
    padding-top: 10px; /* put a smidge of blank space at the top of the footer */
}
/* end Sticky footer styles */

#map {
    height: 400px;
    background-color: #D1D1D1;
}

#bigmap {
    height: 900px;
    background-color: #D1D1D1;
}

.mapMarkerCluster {
	background: #90BDCB;
	text-align: center;
	color: black;
	padding-top: 6px;
	border: 2px solid #3E3E3E;
	border-radius: 50%;
}

/* If the map DIV doesn't have a size set up, it won't appear on the page */
.gllpMap    { width: 500px; height: 250px; }

.thumbnail.right-caption {
    float: left;
}

.thumbnail.right-caption > .caption {
    padding: 4px;
}

/* end Pintrest-like */

