
body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}

.thumbnail.right-caption > img {
    float: left;
    margin-right: 9px;
}

.logo {
    background: url('/images/rtp_logo_1080square.jpg') no-repeat center center;
    background-size: cover;
    background-position: center 55%;
    background-color: #3E3E3E;  /* RTP gray */
    margin-top: 50px;
    height: 13vw;
}

.title {
    background: #3E3E3E;  /* RTP gray */
    text-align: center;
    font-size: 1.0em;
    text-shadow: 1px 1px 0 #222;
    padding: 2px;
    box-sizing: border-box;
    margin-bottom: 2px;
}

.title > a {
    text-decoration: none;
}

.title,
.title > a,
.title > a:hover {
    color: #6796a0;  /* RTP blue */
}

/* Center column class (used by the map) */
.col-centered {
    float: none;
    margin: 0 auto;
}

.img-center { margin: 0 auto; }

/* Sticky footer styles */
html {
    position: relative;
    min-height: 100%;
}

/* Prevent navbar overlap */
/* Margin bottom by footer height */
/* put a smidge of blank space at the bottom, just before the footer*/
body {
    margin-bottom: 350px;
    padding-bottom: 10px;
}

.footer {
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 350px;
    background-color: #f5f5f5;
    padding-top: 10px; /* put a smidge of blank space at the top of the footer */
}
/* end Sticky footer styles */

#map {
    height: 600px;
    background-color: #D1D1D1;
}

#featured_row_map {
    height: 700px;
    background-color: #D1D1D1;
}

#bigmap {
    height: 900px;
    background-color: #D1D1D1;
}

.mapMarkerCluster {
	background: #90BDCB;
	text-align: center;
	color: black;
	padding-top: 6px;
	border: 2px solid #3E3E3E;
	border-radius: 50%;
}

/* If the map DIV doesn't have a size set up, it won't appear on the page */
.gllpMap    { width: 500px; height: 250px; }

.thumbnail.right-caption {
    float: left;
}

.thumbnail.right-caption > .caption {
    padding: 4px;
}


/* Pintrest style */
.wrapper {
    width: 100%;
    margin: 50px auto;
}

.columns {
    -webkit-column-fill: auto;
    -moz-column-fill: balance;
    column-fill: auto;

    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;

    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
}

.pin {
    display: inline-block;
    background: #FEFEFE;
    border: 2px solid #FAFAFA;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding: 15px;
    padding-bottom: 5px;
}

.pin img {
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

.pin p {
    color: #333;
    margin: 0;
}

.pin:hover {
    background-color: #e6e6e6;
    /*background-color: #6796a0;*/  /* RTP blue */
}

.nounderline a {
    text-decoration: none;
}

@media (min-width: 480px) {
    .columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 786px) {
    .columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}
/* end of Pintrest style */

/* Loading spinner */
.loading {
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
    position: absolute;
    z-index: 10;
}
@-moz-keyframes spin { 100% {
    -moz-transform:rotate(360deg);
    }
}
@-webkit-keyframes spin { 100% {
    -webkit-transform:rotate(360deg);
    }
}
@keyframes spin { 100% {
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
    }
}
/* end of Loading spinner */
