{% extends 'parts/base_template.html' %}

{% block content %}
<div class="container-fluid">
    <h1>Add a New Plaque</h1>

    <div class="row">
        <div class="col-xs-11">
            <form action="/add"
                  method="POST"
                  enctype="multipart/form-data" >

                {% if message %}<h2>{{message}}</h2>{% endif %}

                <div class="form-group">
                    <label for="plaque_title">Name</label>
                    <input type="text"
                           class="form-control"
                           id="plaque_title"
                           name="title"
                           required
                           placeholder="Plaque Name">
                </div>

                <div class="form-group">
                    <label for="plaque_description">Description</label>
                    <textarea class="form-control"
                              id="plaque_description"
                              name="description"
                              placeholder="Tell us about the plaque. Transcribe it if you can. And make sure to give us its precise location, so we can geocode it."
                              required
                              rows="3">
                    </textarea>
                </div>

                <div class="form-group">
                    <label for="plaque_location">Location</label>
                    <input type="text"
                           class="form-control"
                           id="plaque_location"
                           name="location"
                           required
                           placeholder="Location of the plaque, for example: 37.5, -122.5">
                </div>

                <div class="form-group">
                    <label for="plaque_image">Upload your Plaque</label>
                    <input type="file"
                           id="plaque_image"
                           required
                           name="plaque_image"
                           >
                    <p class="help-block">Upload an image of your plaque.</p>
                </div>

                <div class="form-group">
                    <label for="plaque_tags">Tags</label>
                    <input type="text"
                           class="form-control"
                           id="plaque_tags"
                           name="tags"
                           placeholder="Tags to characterize the plaque. Multiple tags can be separated by commas.">
                </div>

                <button type="submit" class="btn btn-default">Add Plaque</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
