{% extends 'parts/base_template.html' %}

{% block content %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPGpsCWGQww0hOPhblgBu34eoVnzf5sKo"></script>
<script src="/static/nearhere.js"></script>
<script src="/static/gmaps-latlng-picker.js"></script>

<div class="container-fluid">
    <div class="col-xs-10 col-xs-offset-1">
        <h3>(You may also tweet plaque photos to <a href="http://www.twitter.com/readtheplaque">@readtheplaque</a> or
            email them to <a href="mailto:info@readtheplaque.com">info@readtheplaque.com</a>).</h3>
    </div>

    <div class="col-xs-6 col-xs-offset-3">
        <h1>Add a new Plaque</h1>
    </div>

    <form
        action="/add"
        method="POST"
        enctype="multipart/form-data">

        <div class="col-xs-10 col-xs-offset-1">
        {% if message %}<h2>{{message}}</h2>{% endif %}
        </div>

        <div class="col-xs-10 col-xs-offset-1">
            <div class="form-group">
                <legend>Plaque Name</legend>
                <input type="text"
                       class="form-control"
                       id="plaque_title"
                       name="title"
                       required
                       placeholder="Plaque Name">
            </div>


            <div class="form-group">
                <legend>Image of your Plaque (upload a file or type/copy a URL):</legend>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 col-md-4">
                        <label class="btn btn-default btn-file">
                            <input type="file" id="plaque_image_file" name="plaque_image_file">
                        </label>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-md-4">
                        <input type="url"
                               id="plaque_image_url"
                               name="plaque_image_url"
                               placeholder="Image URL"
                               style="width: 100%;"
                               >
                    </div>
                </div>
            </div>

            <div class="form-group">
                <legend>Tag your Plaque</legend>
                <input type="text" class="form-control" id="plaque_tags" name="tags" placeholder="Tags to characterize the plaque. Multiple tags can be separated by commas.">

                {% if loginout.is_admin %} <button type="submit" name="add" class="btn btn-primary">Add your Plaque</button >{% endif %}
            </div>
        </div>

        <div class="col-xs-10 col-xs-offset-1">
            <legend>Click the map to pick the plaque's location. If the plaque is a geotagged image, you can skip this.</legend>
            {% include 'parts/map_picker.html' %}
        </div>

        <div class="col-xs-10 col-xs-offset-1">
            <div class="form-group">
                <legend>
                Tell us about the plaque. Transcribe it if you can.
                Include contact information if you'd like us to let you
                know when your plaque is published, a 'Submitted by:' line
                if you'd like credit for the plaque.
                </legend>
                <textarea class="form-control"
                          id="plaque_description"
                          name="description"
                          required
                          rows="5">
                </textarea>
            </div>
        </div>

        <div class="col-xs-10 col-xs-offset-1">
            {% if not loginout.is_admin %} <button type="submit" name="add" class="btn btn-primary">Add your Plaque</button >{% endif %}
        </div>
    </form>
</div>

<!-- Add pretty editor -->
<script src="https://cdn.tinymce.com/4/tinymce.min.js"></script>
<script>
tinymce.init({
  selector:'#plaque_description',
  browser_spellcheck: true,
  menu: {
    tools: {title: 'Tools', items: 'spellchecker code'}
  }
});
</script>

<!-- Prevent "enter" keystrokes in the Google Maps search from submiting the plaque -->
<script>
$(document).ready(function() {
  $('.map_picker_form').keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
});
</script>

{% endblock %}
