{% extends 'parts/base_template.html' %}

{% block content %}
<script src="https://maps.googleapis.com/maps/api/js?key={{google_maps_api_key}}"></script>
<script src="/static/nearhere.js"></script>
<script src="/static/gmaps-latlng-picker.js"></script>
<script src="/static/jquery.exif.js"></script>
<script type="text/javascript" src="/static/jquery.exif.js"></script>

<div id="submitFormContainer" class="container-fluid">
  <div class="col-xs-10 col-xs-offset-1">
    <h3>(You may also tweet plaque photos to <a href="http://www.twitter.com/readtheplaque">@readtheplaque</a> or
      email them to <a href="mailto:info@readtheplaque.com">info@readtheplaque.com</a>).</h3>
  </div>

  <div class="col-xs-6 col-xs-offset-3">
    <h1>Add a new Plaque</h1>
  </div>

  <form
    action="/add"
    method="POST"
    enctype="multipart/form-data">

    <div class="col-xs-10 col-xs-offset-1">
      {% if message %}<h2>{{message}}</h2>{% endif %}
    </div>

    <div class="col-xs-10 col-xs-offset-1">

      <div class="form-group">
        <button type="submit" name="add" id="add" class="btn btn-primary">Add your Plaque </button>
      </div>

      <div class="form-group">
        <legend>1) Image of your Plaque (file or URL):</legend>
        <div class="row">
          <label class="btn btn-default btn-file" style="width: 40%">
            <input type="file" id="plaque_image_file" name="plaque_image_file">
          </label>
          <input type="url"
              id="plaque_image_url"
              name="plaque_image_url"
              placeholder="Image URL"
              style="width: 40%;">
        </div>
        <img class="img-responsive" id="preview" src="#" alt="Image preview"/>
      </div>

      <div class="form-group">
        <legend>2) Your Plaque's Name</legend>
        <input type="text"
             class="form-control"
             id="plaque_title"
             name="title"
             required
             placeholder="Plaque Name">
      </div>
      <div id="duplicate_name"></div>

      <legend>
        3) Click the map to pick the plaque's location. If the plaque is a
        geotagged image, you can skip this.
      </legend>
      {% include 'parts/map_picker.html' %}

      <div class="form-group">
        <legend>
          4) [Optional] Tell us about the plaque. Transcribe it if you can.
          Include contact information if you'd like us to let you
          know when your plaque is published, and a 'Submitted by:' line
          if you'd like credit for the plaque.
        </legend>
        <textarea
          class="form-control"
          id="plaque_description"
          name="description"
          required
          rows="5"
        ></textarea>
      </div>

      <div class="form-group">
        <legend>5) [Optional] Tag your Plaque</legend>
        <input type="text" 
            class="form-control"
            id="plaque_tags"
            name="tags"
            placeholder="Comma-separated tags to characterize the plaque.">
      </div>

      <div class="form-group">
        <button type="submit" name="add" id="add" class="btn btn-primary">Add your Plaque </button>
      </div>
    </div>

  </form>
</div>

{# {% include 'parts/pretty_editor.html' %} #}

<!-- Prevent "enter" keystrokes in the Google Maps search from submiting the plaque -->
<script>
$(document).ready(function() {
  $('.map_picker_form').keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
});
</script>

<!-- Detect exif location from image:when image is selected, if present. Also don't allow upload without location. -->
<script>
function convertCoords(gps, ref) {
  $sign = (ref == "W" || ref == "w" || ref == "S" || ref == "s") ? -1.0 : 1.0;
  $out = $sign * (gps[0] * 1.0 + gps[1] / 60.0 + gps[2] / 3600.0);
  return $out;
}

var submitButton = document.getElementById("add");
submitButton.disabled = true;
submitButton.innerHTML = "(Specify plaque location)";

// If the location is picked by the user in the visual picker, the button
// will get updated there.
// 
var locationCheck = function(exifObject) {
  locationInFile = exifObject && 
                   "GPSLatitude" in exifObject &&
                   "GPSLatitudeRef" in exifObject &&
                   "GPSLongitude" in exifObject &&
                   "GPSLongitudeRef" in exifObject;
  if (locationInFile) {
    lat = convertCoords(exifObject.GPSLatitude, exifObject.GPSLatitudeRef);
    lng = convertCoords(exifObject.GPSLongitude, exifObject.GPSLongitudeRef);
    $("#lat").val(lat);
    $("#lng").val(lng);

    picker = $(document).gMapsLatLonPicker();
    picker.init($('.map_picker_form'), 14);

    submitButton.disabled = false;
    submitButton.innerHTML = "Add your Plaque";
    submitButton.className = "btn btn-success";
    // TODO: this should happen for a user-selected location also (from the map pane)
  }
}

function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function (e) { $('#preview').attr('src', e.target.result); }
    reader.readAsDataURL(input.files[0]);
    $('#preview').show();
  }
}

try {
  $('#plaque_image_file').change(function() {
    $(this).fileExif(locationCheck);
    readURL(this);
  });
} catch (e) {
  console.log(e);
}

try {
  $('#plaque_title').change(function() {
    var title = $('#plaque_title').val();
    $.post(
      '/dup',
      {title_url: title},
      function (result) {
        var dup_div = document.getElementById("duplicate_name");
        if (result != "") {
          dup_div.innerHTML = "Possible <a href=\"/plaque/" + result + "\" target=_blank>duplicate plaque</a>, please review before submitting.";
        } else {
          dup_div.innerHTML = "";
        }
      }
    );
  });
} catch (e) {
  console.log(e);
}

</script>

<!-- Keep the Submit button visible during scroll-->
<script>
//$(window).scroll(function() { 
  //$('#submitButtonColumn').animate({top:$(this).scrollTop()});
//});
$('#preview').hide();
</script>

{% endblock %}

{% block bottomofbody %}
<script>
function set_focus() {
    var element = document.getElementById("thanks_admin");
    element.focus();
}
</script>
{% endblock %}
