{% extends 'parts/base_template.html' %}

{% block content %}
<div class="container-fluid">
    <!--
    Write out the plaques:
    -->
    <div class="row"><div class="col-xs-0 col-sm-1"></div><div class="col-xs-12 col-sm-10">

        <!-- 
        If there is a featured plaque, draw a special pane for it, and draw 
        a small map.
        -->
        {% if featured_plaque %}
            {% include 'parts/featured_row.html' %}
        {% endif %}

        {% if plaques|length == 0 %}<h2>No plaques in that search</h2>{% endif %}

        <div class="pinterest-row">
            {% for plaque in plaques %}
                <a href="{{plaque.title_page_url}}">
                    <div class="item">
                        <div class="well">
                            <h3>{{plaque.title}}</h3>
                            <img src="{{plaque.img_url_thumbnail}}" class="img-responsive"/>
                            <p>{{plaque.description | striptags | wordwrap(50, True) | truncate(200)}}</p>
                            <ul class="list-inline">{% for tag in plaque.tags %} <li>{{tag | truncate(15, True)}}</li>{% endfor %}</ul>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>

        <!-- If there is no featured plaque, draw the larger map at the bottom of the page -->
        {% if not featured_plaque %}
            <div class="row">
                <div class="col-xs-12 col-centered">
                    <div style="height: 150;" id="map"></div>
                </div>
            </div>
        {% else %}
            {#
            <!-- If there is featured plaque, draw the paginator-->
            <!-- this needs some work in _get_template_values -->
            <!--
            <nav>
                <ul class="pagination pagination-sm">
                    {% for i in range(num_pages) %}
                        <li><a href="/page/{{i}}">{{i}}</a></li>
                    {% endfor %}
                </ul>
            </nav>
            -->
            #}
        {% endif %}
        <p><a class="btn btn-primary" role="button" href="/randompage">More Plaques</a></p>

    </div><div class="col-xs-0 col-sm-1"></div></div>
</div>
{% endblock %}
