{% extends 'parts/base_template.html' %}

{% block content %}

<!-- Write out the plaques: -->
<div class="container-fluid">

    <!-- If there aren't any plaques, say that and exit -->
  {% if plaques|length == 0 %}
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <h2>No plaques in that search</h2>
        </div>
     </div>
  {% else %} <!-- 1 or more plaques: -->

    <!-- If there is a featured plaque, draw a separate row with a small map.
         otherwise, draw the map at the top of the page -->

    {% if featured_plaque %}
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          {% include 'parts/featured_row.html' %}
        </div>
       </div>
    {% else %}
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <div id="map"></div>
        </div>
      </div>
    {% endif %}

    <!-- Draw the plaques -->
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="columns">

          {% for plaque in plaques %}
            <a class="nounderline" href="{{plaque.title_page_url}}">
              <div class="pin">
               <h3>{{plaque.title}}</h3>
                <img src="{{plaque.img_url_thumbnail}}"/>
                <p>{{plaque.description | striptags | wordwrap(50, True) | truncate(200)}}</p>
                <ul class="list-inline">{% for tag in plaque.tags %} <li>{{tag | truncate(15, True)}}</li>{% endfor %}</ul>
              </div>
            </a>
          {% endfor %}

        </div>
      </div>
    </div>

    <!-- If there is an active cursor, make a paginator -->
    {% if more %}
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4"></div>
          <nav>
            <ul class="pagination pagination-sm">
              <li>
                <a class="btn btn-default" href="/page/{{next_cursor_urlsafe}}"><span>Next</span></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    {% endif %}

  {% endif %} <!-- end 1 or more plaques -->

</div>
{% endblock %}


{% block bottomofbody %}
<!--
<script>
  $('#map').ready(function(){
    if ($('#featured-plaque').length > 0) {
      fp_height = $('#featured-plaque').height();
      $('#map').height(fp_height - 80);
    }
  });
</script>
-->
{% endblock %}
