{% extends 'parts/base_template.html' %}

{% block content %}
<div class="container-fluid">
    {% include 'parts/map.html' %}
    <div class="pinterest-row">
        {% for iplaque in range(start_index, end_index) %}
            {% if iplaque < plaques|length %}
                {% set plaque = plaques[iplaque] %}
                <a href="/plaque/{{plaque.key.urlsafe()}}">
                    <div class="item">
                        <div class="well">
                            <h2>{{plaque.title}}</h2>
                            <img src="{{plaque.thumbnail_url}}" class="img-responsive"/>

                            <p>{{plaque.description | striptags | wordwrap(50, True) | truncate(200)}}</p>
                            <ul class="list-inline">
                                {% for tag in plaque.tags %}
                                    <li>{{tag | truncate(15, True)}}</li>
                                {% endfor %}
                            </ul>
                            <p>{{iplaque + 1}} / {{plaques|length}}
                        </div>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    </div>

    <div class="row">
            <ul class="list-inline">
                {% for plaque in all_plaques %}
                    <li>
                        <small>
                        <a href="/plaque/{{plaque.key.urlsafe()}}">{{plaque.title}}</a>
                        </small>
                    </li>
                {% endfor %}
            </ul>
    </div>

</div>
{% endblock %}
