{% extends 'parts/base_template.html' %}

{% block content %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPGpsCWGQww0hOPhblgBu34eoVnzf5sKo"></script>
<script src="/static/nearhere.js"></script>
<script src="/static/gmaps-latlng-picker.js"></script>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h1>Edit Plaque</h1>
    </div>
  </div>

  <form action="/edit" method="POST" enctype="multipart/form-data">

    <input type="hidden" name="plaque_key" value="{{plaque.key.urlsafe()}}">

    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        {% if message %}<h2>{{message}}</h2>{% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
        <div class="form-group">
          <legend>Plaque Name</legend>
          <input type="text"
               class="form-control"
               id="plaque_title"
               name="title"
               required
               value="{{plaque.title | e}}"
               placeholder="Plaque Name">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
        <div class="form-group">
  
          <legend>Plaque Image:</legend>
          <a href="{{plaque.img_url_big}}" target="_blank"><img class="img-responsive" src="{{plaque.img_url_display}}"/></a>
  
          <div class="row">
            <div class="col-xs-12">
              <label class="btn btn-default btn-file">
                <input type="file" id="plaque_image_file" name="plaque_image_file">
              </label>
            </div>
  
            <div class="col-xs-12">
              <input type="url" id="plaque_image_url" name="plaque_image_url" placeholder="Image URL" style="width: 100%;">
              <select id="img_rot" name="img_rot">
                <option value="0">Rotate Image?</option>
                <option value="90"  {% if plaque.img_rot ==  90 %}selected="selected"{% endif %}>90 degrees clockwise</option>
                <option value="180" {% if plaque.img_rot == 180 %}selected="selected"{% endif %}>180 degrees clockwise</option>
                <option value="270" {% if plaque.img_rot == 270 %}selected="selected"{% endif %}>270 degrees clockwise</option>
              </select>
            </div>

          </div>

        </div>
      </div>

      <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
        <div class="form-group">
          <legend>Description</legend>
          <textarea class="form-control" 
                    id="plaque_description"
                    name="description"
                    required
                    rows="15">{{plaque.description}}
          </textarea>
        </div>

        <div class="form-group">
          <legend>Plaque Tags</legend>
          <input type="text" class="form-control" id="plaque_tags" name="tags" value="{{plaque.tags| join(', ')}}" placeholder="Tags to characterize the plaque. Multiple tags can be separated by commas.">
          <p>
            Originally added {{plaque.created_on.strftime('%Y-%m-%d')}}.
            <a href="/ocr/{{plaque.img_url}}">OCR plain</a>
            <a id="ocrlink" href="#">OCR JS</a>
          </p>
        </div>
      </div>


      <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
        {% include 'parts/map_picker.html' %}
      </div>

      <div class="col-xs-10 col-xs-offset-1">
        <center><button type="submit" class="btn btn-primary">Update Plaque</button></center>
      </div>
    </div>

  </form>
</div>

<!-- 
Display OCR output instead of pretty editor, for now
-->
{# {% include 'parts/pretty_editor.html' %} #}
<script>
document.getElementById("ocrlink").onclick = function() {ocrGet()};
function ocrGet() {
  $.get("/ocr/{{plaque.img_url}}", function(data) {})
  .success(function(data) { 
    oldDescription = $("#plaque_description").text(); 
    $("#plaque_description").text(oldDescription + "\n<br/> " + data); 
  })
  .error(function( jqxhr, textStatus, error ) { 
    alert("error" + textStatus + " " + error); 
  })
  .complete(function() { alert("complete"); });
}
</script>

<!-- Prevent "enter" keystrokes in the Google Maps search from submiting the plaque -->
<script>
$(document).ready(function() {
  $('.map_picker_form').keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
});
</script>

{% endblock %}

{% block bottomofbody %}
<script>
function set_focus() {
    var element = document.getElementById("plaque_title");
    element.focus();
}
</script>
{% endblock %}
