{% extends 'parts/base_template.html' %}

{% block content %}
{% set plaque = plaques[0] %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h1>{{plaque.title}}{% if not plaque.approved %} [Pending] {% endif %}
            {% if loginout.is_admin %}
                <a class="btn btn-default" role="button" href="/edit/{{plaque.key.urlsafe()}}">Edit</a>
                <a class="btn btn-default" role="button" href="/setfeatured/{{plaque.key.urlsafe()}}">Feature</a>
                {% if not plaque.approved %}
                    <form class="form-inline" action="/approve" method="POST">
                        <input type="hidden" name="plaque_key" value="{{plaque.key.urlsafe()}}">
                        <button type="submit" class="btn btn-success">Approve</button>
                    </form>
                {% endif %}
            {% endif %}
            </h1>
        </div>
    </div>
    {% if plaque.approved or loginout.is_admin %}
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <a href="{{plaque.img_url_big}}"><img src="{{plaque.img_url_display}}" class="img-responsive img-center"/></a>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>{{plaque.description}}</p>
                        <ul class="list-inline">
{% for tag in plaque.tags %} <li><a href="/tag/{{tag}}" alt="{{tag}}">{{tag}}</a></li> {% endfor %}
                        </ul>
                    </div>
                </div>
                {% if loginout.is_admin %}
                    <p>Originally added {{plaque.created_on.strftime('%Y-%m-%d')}}.</p>
                {% endif %}
                <p>
                    <a class="btn btn-primary" role="button" href="/nearby/{{plaque.location.lat}}/{{plaque.location.lon}}">Nearby Plaques</a>
                    <a class="btn btn-primary pull-right" role="button" href="http://maps.google.com/maps?&z=21&q={{plaque.location.lat}}+{{plaque.location.lon}}&ll={{plaque.location.lat}}+{{plaque.location.lon}}" target="_blank">On Google Maps</a>
                </p>

                <div id="map"></div>
            </div>
        </div>

        <p></p>

        <div class="row">
            <div class="col-xs-11">
                {% if loginout.is_admin %}
                    {% if plaque.approved %}
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form class="form-inline" action="/disapprove" method="POST">
                                    <input type="hidden" name="plaque_key" value="{{plaque.key.urlsafe()}}">
                                    <button type="submit" class="btn btn-default">Unpublish This Plaque</button>
                                </form>
                            </div>
                        </div>
                    {% else %}
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form class="form-inline" action="/delete" method="POST">
                                    <input type="hidden" name="plaque_key" value="{{plaque.key.urlsafe()}}">
                                    <button type="submit" class="btn btn-danger pull-right">Delete this Plaque</button>
                                </form>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endif %}

</div>
{% endblock %}
