{% extends 'parts/base_template.html' %}

{% block content %}
{% set plaque = plaques[0] %}
<div class="container-fluid">

  <!-- Top row: Title + optional buttons -->
  <div class="row">
    <div class="col-xs-12">

<!-- TODO remove -->
<a id="edit_button" class="btn btn-default pull-right" role="button" href="/edit/{{plaque.key.urlsafe().decode()}}">Edit By URL-safe Key</a>

      <!-- Edit/Approve/Feature buttons for admins -->
      {% if loginout.is_admin %}
        <a id="edit_button" class="btn btn-default pull-right" role="button" href="/edit/{{plaque.key.urlsafe().decode()}}">Edit</a>
        {% if not plaque.approved %}
          <form class="form-inline pull-right" action="/approve" method="POST">
            <input type="hidden" name="plaque_key" value="{{plaque.key.urlsafe()}}">
            <input type="hidden" name="title_url" value="{{plaque.title_url}}">
            <button type="submit" class="btn btn-success pull-right">Approve</button>
          </form>
        {% endif %}
        <a class="btn btn-primary pull-right" role="button" href="/setfeatured/{{plaque.key.urlsafe()}}">Feature</a>
      {% endif %}

      <h1>
        {{plaque.title}}
        {% if not plaque.approved %}
            [Pending]
            {% if plaque.title_url.endswith('2') %}
                [duplicate??]
            {% endif %}
        {% endif %}
      </h1>

    </div>
  </div>

  {% if plaque.approved or loginout.is_admin %}

    <div class="row">
      <!-- Image -->
      <div class="col-xs-12 col-md-6">
        <a href="{{plaque.img_url_big}}">
          <img src="{{plaque.img_url_display}}" alt="{{plaque.description | striptags | truncate(200)}}" class="img-responsive center-block"/>
        </a>
      </div>

      <!-- Description & tags-->
      <div class="col-xs-12 col-md-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <p>{{plaque.description | safe}}</p>
            <ul class="list-inline">
              {% for tag in plaque.tags %} <li><a href="/tag/{{tag}}" alt="{{tag}}">{{tag}}</a></li> {% endfor %}
            </ul>
          </div>
        </div>
        {% if loginout.is_admin %}
          <p>
            Originally added {{plaque.created_on.strftime('%Y-%m-%d')}}.
            <a href="/ocr/{{plaque.img_url}}">OCR</a> (edit page for OCR js)
          </p>
        {% endif %}
        <p>
          <a class="btn btn-primary" role="button" href="/nearby/{{plaque.location.latitude}}/{{plaque.location.longitude}}">Nearby Plaques</a>
          <a class="btn btn-primary pull-right" role="button" href="{{plaque.gmaps_url}}" target="_blank">On Google Maps</a>
        </p>

        <div id="map"></div>
      </div>
    </div>
  {% endif %}

  <p></p>

  <!-- Unpublish or Delete button for admins -->
  {% if loginout.is_admin %}
    <div class="row">
      <div class="col-xs-11">
        {% if plaque.approved %}
          {% set form_action = "/disapprove" %}
          {% set button_verb= "Unpublish" %}
          {% set button_class = "btn-default" %}
        {% else %}
          {% set form_action = "/delete" %}
          {% set button_verb = "Delete" %}
          {% set button_class = "btn-danger pull-right" %}
        {% endif %}
        <div class="panel panel-default">
          <div class="panel-body">
            <form class="form-inline" action="{{form_action}}" method="POST">
              <input type="hidden" name="plaque_key" value="{{plaque.key.urlsafe()}}">
              <button type="submit" class="btn {{button_class}}">{{button_verb}} this Plaque</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

</div>
{% endblock %}

{% block bottomofbody %}
<script>
function set_focus() {
    var element = document.getElementById("edit_button");
    element.focus();
}
</script>
{% endblock %}
