<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="icon" href="/images/favicon.ico">


<link rel="stylesheet" href="/static/bootstrap-3.3.5.min.css">
<link rel="stylesheet" href="/static/style.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="https://www.google.com/recaptcha/api.js"></script>



<meta name="viewport" content="width=device-width, initial-scale=1">

{% if plaques %}
    {% if fake_plaque_for_root_url_previews %}
        {% set plaque = fake_plaque_for_root_url_previews %}
    {% elif featured_plaque %}
        {% set plaque = featured_plaque %}
    {% else %}
        {% set plaque = plaques[0] %}
    {% endif %}
    <!-- Twitter card -->
    <meta name="twitter:card"        content="photo"/>
    <meta name="twitter:site"        content="@readtheplaque"/>
    <meta name="twitter:creator"     content="@readtheplaque"/>
    <meta name="twitter:url"         content="https://readtheplaque.com{{plaque.title_page_url}}"/>
    <meta name="twitter:title"       content="{{plaque.title | striptags | escape}}"/>
    <meta name="twitter:description" content="{{plaque.description | striptags | escape}}"/>
    <meta name="twitter:image"       content="{{plaque.img_url_thumbnail}}"/>

    <!-- Facebook preview-->
    <meta property="og:title"        content="{{plaque.title | striptags | escape}}"/>
    <meta property="og:description"  content="{{plaque.description | striptags | escape}}"/>
    <meta property="og:type"         content="website"/>
    <meta property="og:image"        content="{{plaque.img_url_thumbnail}}"/>
    <meta property="og:site_name"    content="Read the Plaque"/>
    <meta property="og:url"          content="https://readtheplaque.com{{plaque.title_page_url}}"/>
    <meta property="fb:admins"       content="kesterallen"/>
{% endif %}

<title>Read the Plaque
  {% if plaque %}
    -
    {% if fake_plaque_for_root_url_previews %}
      {{plaque.description}}
    {% elif is_pending %}
      Pending Plaques
    {% else %}
      {{plaque.title}}
    {% endif %}
  {% elif page_title %}
    - {{page_title}}
  {% endif %}
</title>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-70L6P2YMFR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-70L6P2YMFR');
</script>

<body onload="set_focus()">
{% include 'parts/navbar.html' %}

{% block content %}
{% endblock %}



{% if footer_items %}
  {% include 'parts/footer.html' %}
{% endif %}

{% if plaques or bigmap %}
  <!-- TODO: remove demo -->
  {% if demo == "demo1" %}
    {% include 'parts/map_pane_googlemaps_nocluster.html' %}
  {% elif demo == "demo2" %}
    {% include 'parts/map_pane_googlemaps.html' %}
  {% else %}
    {% include 'parts/map_pane_mapboxgl.html' %}
  {% endif %}
{% endif %}

{% block bottomofbody %}
{% endblock %}
</body>
</html>
