<div class="row">
    <a class="col-xs-12 col-sm-5 col-centered" href="{{featured_plaque.title_page_url}}">
        <div class="pin">
            <div class="thumbnail right-caption">
                <h1>Featured Plaque:</h1>
                <img src="{{featured_plaque.img_url_thumbnail}}"/>
                <div class="caption">
                    <h2>{{featured_plaque.title}}</h2>
                    {{featured_plaque.description | striptags | wordwrap(100, True) | truncate(400)}}
                    <p>
                        <ul class="list-inline">
{% for tag in featured_plaque.tags %} <li>{{tag | truncate(15, True)}}</li> {% endfor %}
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </a>

    <div class="col-xs-12 col-sm-7 col-centered">
        <div id="map"></div>
    </div>
</div>
