
<footer class="footer">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <ul class="list-group">
                <li class="list-group-item active">Selected Plaques</li>
                {% for plaque in footer_items.new_plaques %} <li class="list-group-item">
                        <a href="{{plaque.title_page_url}}">{{plaque.title}}</a>
                </li> {% endfor %}
            </ul>
        </div>

        <div class="col-md-6 col-xs-12">
            <ul class="list-group">
                <a href="/tags"><li class="list-group-item active">Tags (click here for all tags)</li></a>
                {% for tag in footer_items.tags %} <li class="list-group-item"><a href="/tag/{{tag}}">{{tag}}</a></li> {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4">
            Read The Plaque is a project of <a href="http://99pi.org/">99% Invisible</a>.
            We tweet at <a href="http://www.twitter.com/readtheplaque">
                @readtheplaque<i class="fi-social-twitter"></i>
            </a>
        </div>

        <div class="col-xs-4">
            The Read The Plaque logo is available on a 
            <a href="http://chopshopstore.com/index.php/readtheplaque.html">T-shirt</a> from 
            <a href="http://chopshopstore.com">Chop Shop</a>.
        </div>

        <div class="col-xs-4">
            <script async>window.twttr = (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
                if (d.getElementById(id)) return t; js = d.createElement(s);
                js.id = id;
                js.src = "https://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
                t._e = [];
                t.ready = function(f) { t._e.push(f); };
                return t;
            }(document, "script", "twitter-wjs"));
            </script>

            <a href="https://twitter.com/intent/tweet"
               class="twitter-share-button"
               data-count="none"
               {% if plaques %}
                   data-text="'{{plaques[0].title | truncate(90)}}' Always #readtheplaque"
                   data-url="http://readtheplaque.com{{plaques[0].title_page_url}}"
               {% else %}
                   data-text="Always read the plaque. #readtheplaque"
                   data-url="http://readtheplaque.com"
               {% endif %}
            >Tweet this Page</a>

            <a href="/rss"><img src="/images/rss.gif" alt="rss icon"/></a>

            <!-- Hook for FB Share button-->
            <script async>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-share-button" data-layout="button"></div>
            Site by <a href="http://twitter.com/kesterallen">@kesterallen</a>
            {% if loginout %}<a href="{{loginout.url}}">{{loginout.text}}</a>{% endif %}
        </div>

    </div>
<footer>

