
<footer class="footer">
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <ul class="list-group">
        <li class="list-group-item active">Selected Plaques</li>
        {% for plaque in footer_items.new_plaques %}
           <li class="list-group-item">
            <a href="{{plaque.title_page_url}}">{{plaque.title}}</a>
           </li>
         {% endfor %}
      </ul>
    </div>

    <div class="col-md-6 col-xs-12">
      <ul class="list-group">
        <li class="list-group-item active">Selected Tags</li>
        {% for tag in footer_items.tags %}
          <li class="list-group-item"><a href="/tag/{{tag}}">{{tag}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-1"></div>

    <div class="col-xs-10">
      <!--
      Search powered by https://programmablesearchengine.google.com/
      -->
      <script async src="https://cse.google.com/cse.js?cx=a55d2687740af41cf"></script>
      <div class="gcse-search"></div>
    </div>

    <div class="col-xs-1"></div>
  </div>

  <div class="row">
    <div class="col-xs-1"></div>

    <div class="col-xs-10">
      <div class="row">
        <div class="col-xs-4">
          Read The Plaque is a project of <a href="http://99pi.org/">99% Invisible</a>.
          Twitter: <a href="http://twitter.com/readtheplaque">@readtheplaque<i class="fi-social-twitter"></i></a>
          Facebook: <a href="https://facebook.com/readtheplaque">Read the Plaque</a>.
          Email: <a href="mailto:info@readtheplaque.com">info@readtheplaque.com</a>.
          Site by <a href="http://twitter.com/kesterallen">@kesterallen</a>
        </div>

        <!-- TODO: replace when new logo is released-->
        <!--
        <div class="col-xs-4">
          The Read The Plaque logo was designed by
          <a href="http://twitter.com/chopshopstore">@ChopShopStore</a>,
          and is available on a
          <a href="https://chopshopstore.com/products/always-read-the-plaque">T-shirt</a> from
          <a href="http://chopshopstore.com">Chop Shop</a>.
        </div>
        -->

        <div class="col-xs-4">
          <script async>window.twttr = (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
            if (d.getElementById(id)) return t; js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
            t._e = [];
            t.ready = function(f) { t._e.push(f); };
            return t;
          }(document, "script", "twitter-wjs"));
          </script>

          <a href="https://twitter.com/intent/tweet"
             class="twitter-share-button"
             data-count="none"
             {% if plaques %}
               data-text="'{{plaques[0].title | truncate(90)}}' Always #readtheplaque"
               data-url="https://readtheplaque.com{{plaques[0].title_page_url}}"
             {% else %}
               data-text="Always read the plaque. #readtheplaque"
               data-url="https://readtheplaque.com"
             {% endif %}
          >Tweet this Page</a>

          <!-- Hook for FB Share button-->
          <script async>(
          function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
          }(
            document, 'script', 'facebook-jssdk'
          ));
          </script>
          <a href="/rss"><img src="/images/rss.gif" alt="rss icon"/></a>

          <div class="fb-share-button" data-layout="button"></div>

          This work is licensed under a
          <a rel="license"
             href="http://creativecommons.org/licenses/by/4.0/">
            Creative Commons Attribution 4.0 International License
          </a> unless otherwise noted.
          <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
            <img alt="Creative Commons License"
                 style="border-width:0"
                 src="https://i.creativecommons.org/l/by/4.0/88x31.png"/>
          </a>

          {% if loginout %}<a href="{{loginout.url}}">{{loginout.text}}</a>{% endif %}
        </div>
      </div>
    </div>

    <div class="col-xs-1"></div>
  </div>

<footer>
