<div class="gllpLatlonPicker form-group">
    <input type="text" class="gllpSearchField" id="searchfield" placeholder="{{maptext}}" style="width: 60%;">
    <input type="button" class="gllpSearchButton" value="Google Maps Search"/>
    <!--<button class="btn btn-default" onclick="getOwnLocation()">Get My Location</button>-->
    <input type="button" id="herebutton" class="gllpHereButton" value="Near You">
    <!--<input type="button" onclick="getOwnLocation()" value="Near You">-->
    <br/>
    <div class="gllpMap" style="width: 100%">Google Maps</div>
    <input hidden type="text" id="lat" name="lat" class="gllpLatitude" {% if plaque %}value="{{plaque.location.lat}}"{% endif %}/>
    <input hidden type="text" id="lng" name="lng" class="gllpLongitude" {% if plaque %}value="{{plaque.location.lon}}"{% endif %}/>
    <input hidden type="text" class="gllpZoom" value="{{mapzoom}}"/>
    <input hidden type="button" class="gllpUpdateButton" value="Go to lat/long">
    <br/>
</div>
