<script src="/static/markerclusterer.js"></script>

<script>
function get_markers(map, ic, plaques_json, map_markers_str) {
    var markers = [];

// Don't write the dynamic markers unless there are going to be < 12 markers
{% if plaques|length >= 12 or bigmap %}
    // Precomputed markers from /static/plaques.json
    //
    // Either:
    //   a) If map_markers_str is specified, make a set of the requested markers, 
    //   b) If map_markers_str is empty draw, every marker in plaques.json
    //
    specified_marker_urls = new Set();
    if (map_markers_str != '') {
        specified_marker_urls = new Set(map_markers_str.split('&'));
    } 

    for (i = 0; i < plaques_json.length; i++) {
        plaque = plaques_json[i];

        if (specified_marker_urls.size > 0) {
            if (!specified_marker_urls.has(plaque.title_page_url)) {
                continue;
            }
        }
        marker = new google.maps.Marker({
            map: map,
            icon: ic,
            position: new google.maps.LatLng(plaque.lat, plaque.lng),
            url: plaque.title_page_url,
            infowindow: new google.maps.InfoWindow(
                {content: '<a href="' + plaque.title_page_url + '" target="_blank">' + plaque.title + '<p><img src="' + plaque.img_url_tiny + '"/></a>'}),
            open: false
        });
        markers.push(marker);
    }
{% else %}
    // Dynamic markers from the plaques template var
    {% for plaque in plaques %}
    marker = new google.maps.Marker({
        map: map,
        icon: ic,
        position: new google.maps.LatLng({{plaque.location.lat}}, {{plaque.location.lon}}),
        url: "{{plaque.title_page_url}}",
        infowindow: new google.maps.InfoWindow(
            {content: "<a href='{{plaque.title_page_url}}' target='_blank'>{{plaque.title|escape}}<p><img src='{{plaque.img_url_tiny}}'/></a>"}),
        open: false
    });
    markers.push(marker);
    {% endfor %}

{% endif %}
    return markers;
}

function draw_map(plaques_json, map_markers_str) {
    var mapCanvas = document.getElementById('map');
    if (mapCanvas == null) {
        mapCanvas = document.getElementById('bigmap');
    }
    var mapOptions = {mapTypeId: google.maps.MapTypeId.ROADMAP, center: {lat: -15.0, lng: -10.0}, minZoom: 1, maxZoom: 19, scaleControl: true};
    var map = new google.maps.Map(mapCanvas, mapOptions);

    var ic = {
        url: "/images/red-dot.png",
        scaledSize: new google.maps.Size({{icon_size}}, {{icon_size}}),
        origin: new google.maps.Point(0, 0), // origin -- top left
        anchor: new google.maps.Point({{icon_size / 2}}, {{icon_size}}) // anchor -- bottom middle
    };

    var markers = get_markers(map, ic, plaques_json, map_markers_str);

    // Add event listeners for marker/infowindow/link interactions
    for (im = 0; im < markers.length; im++) {
        //google.maps.event.addListener(markers[im], 'mouseover', function(j) { return function() { markers[j].infowindow.open(map, markers[j]); } }(im));
        //google.maps.event.addListener(markers[im], 'mouseout', function(j) { return function() { markers[j].infowindow.close(); } }(im));
        //google.maps.event.addListener(markers[im], 'click', function(j) { return function() { window.location.href = this.url; } }(im));
        google.maps.event.addListener(markers[im], 'click', function(j) { return function() { markers[j].infowindow.open(map, markers[j]); } }(im));
        // Close on offclick
//        google.maps.event.addListener(markers[im], 'click', function(j) {
//            if (markers[j].open){
//                markers[j].infowindow.close();
//                markers[j].open = false;
//            }
//            else {
//                markers[j].infowindow.open(map, markers[j]);
//                markers[j].open = true;
//            }
//            google.maps.event.addListener(map, 'click', function() {
//                markers[j].infowindow.close();
//                markers[j].open = false;
//            });
//        }(im));
    }

    // Fit the map bounds to the markers:
    //
    var bounds = new google.maps.LatLngBounds();
    for (im = 0; im < markers.length; im++) {
        bounds.extend(markers[im].position);
    }
    map.fitBounds(bounds);

    var mcOptions = {
        gridSize: 50,
        maxZoom: 10,
        minimumClusterSize: 10,
        averageCenter: true
    };
    var mc = new MarkerClusterer(map, markers, mcOptions);
}


function initialize() {
    $('#map').append('<img alt="loading dynamic map" title="temporary map image" class="img-responsive" src="/static/map_snapshot.png"/>');

    var jp_url = '/static/plaques.json';
    
    $.ajax({
        url: jp_url,
        dataType: 'json',
        success: function(json) {
            draw_map(json, '{{map_markers_str}}');
        },
        //error: function(request, status, error) {
        //}
    });
}
</script>

<script>
    initialize();
</script>
