<script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />

<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>

<script>

    // These globals allow the load_markers method to be be re-enterable
    var plaques_json = [];
    var markers = [];
    var plaques_length = 0;
    var plaques_index = 0;
    var bold_threshold = 100;
    var cluster_group = new L.MarkerClusterGroup({
        maxClusterRadius: 30 /* pixels */, /* TODO */
        disableClusteringAtZoom: 15, /* TODO */
        polygonOptions: {
            stroke: false,
            color: '#000000',
            opacity: 0.5
        },
        iconCreateFunction: function(cluster) {
            return new L.DivIcon({
                html: '<span style="color:' + (cluster.getChildCount() > bold_threshold ? 'black': '#3E3E3E') + '">' + cluster.getChildCount() + '</span>',
                className: 'mapMarkerCluster',
                iconSize: new L.Point(35, 35)
            });
        }
    });

    function make_marker(i) {
        var latlng = L.latLng(plaques_json[i]['lat'], plaques_json[i]['lng']);
        var popup_html =
            '<a href="' + plaques_json[i]['title_page_url'] + '" target="_blank">' +
                plaques_json[i]['title'] +
                '<br />' +
                '<img src="' + plaques_json[i]['img_url_tiny'] +
                      '" width="100" height="100" ' +
                      'alt="' + plaques_json[i]['title'] + ' image" ' +
                '/>' +
            '</a>';

        var marker_size_multiplier = 0.5;
        var marker_icon_size = [35*marker_size_multiplier, 90*marker_size_multiplier];

        var marker = L.marker(latlng, {
            icon: L.icon({
                'iconUrl': '/static/images/map_pin.png',
                'iconSize': [marker_icon_size[0], marker_icon_size[1]],
                'iconAnchor': [marker_icon_size[0]/2, marker_icon_size[1]/2],
                'popupAnchor': [0, -marker_icon_size[1]/2],
                })
        });
        marker.bindPopup(popup_html);
        return marker;
    }

    var load_markers = function() {
        while (plaques_index < plaques_length) {
            marker = make_marker(plaques_index);
            ++plaques_index;
            markers.push(marker);
        }
    }

    var add_markers = function() {
        for (i = 0; i < markers.length; i++) {
            cluster_group.addLayer(markers[i]);

            // Release control to the browser periodically
            if (plaques_index % 100 == 0) {
                setTimeout(load_markers, 0);
            }
        }
    }

    var draw_map = function(map) {

        // Add every plaque to the cluster group
        load_markers();
        add_markers();
        map.addLayer(cluster_group);
        {% if not bigmap_center %}
            map.fitBounds(cluster_group.getBounds());
        {% endif %}

        L.control.scale({imperial: false}).addTo(map);

        // Turn off the loading spinner
        $('.loading').hide();
    }

    var initialize = function() {
        // Turn on the loading spinner
        $('.loading').show();

        var mapCanvasId;
        if (null != document.getElementById('map')) {
            mapCanvasId = 'map';
        } else if (null != document.getElementById('featured_row_map')) {
            mapCanvasId = 'featured_row_map';
        } else {
            mapCanvasId = 'bigmap';
        }

        L.mapbox.accessToken = 'pk.eyJ1IjoibG9nYW5yb2NrbW9yZSIsImEiOiJjaW10djNoY3QwMjNwdXBra2tndzljZW5kIn0.NVzBF6iK5Xrrre2fjtBP5Q';
        var map = L.mapbox.map(mapCanvasId, 'mapbox.light').setView([0, 0], 1);
        {% if bigmap_center %}
            {% if bigmap_zoom %}
                map.setView([{{bigmap_lat}}, {{bigmap_lng}}], {{bigmap_zoom}});
            {% else %}
                map.setView([{{bigmap_lat}}, {{bigmap_lng}}], 10);
            {% endif %}
        {% endif %}

        // Use the precomputed plaques file if there are lots of plaques
        {% if plaques|length >= dynamic_plaque_cutoff or bigmap %}

            var jp_url = '/static/plaques_updated.json';
            $.ajax({
                url: jp_url,
                dataType: 'json',
                success: function(json) {
                    plaques_json = json['plaques'];
                    plaques_length = plaques_json.length;
                    draw_map(map);
                }
            });

        {% else %}
            {% for plaque in plaques %}
                plaques_json.push({
                   'title': '{{plaque.title | striptags | escape}}',
                   'title_page_url': '{{plaque.title_page_url}}',
                   'img_url_tiny': '{{plaque.img_url_tiny}}',
                   'lat': {{plaque.location.lat}},
                   'lng': {{plaque.location.lon}},
                });
            {% endfor %}

            plaques_length = plaques_json.length;
            draw_map(map);
        {% endif %}

    }

    initialize();

</script>
