

<script>
    function initialize() {
        var mapCanvas = document.getElementById('map');
        var mapOptions = { mapTypeId: google.maps.MapTypeId.ROADMAP }
        var map = new google.maps.Map(mapCanvas, mapOptions)

        var icon = {
            url: "/images/red-dot.png",
            scaledSize: new google.maps.Size({{icon_size}}, {{icon_size}}),
            origin: new google.maps.Point(0, 0), // origin -- top left
            anchor: new google.maps.Point({{icon_size / 2}}, {{icon_size}}) // anchor -- bottom middle
        };

        var markers = [];

        var bounds = new google.maps.LatLngBounds();
        {% for plaque in all_plaques %}
            var point = new google.maps.LatLng({{plaque.location.lat}}, {{plaque.location.lon}});
            bounds.extend(point);
            markers.push(new google.maps.Marker({
                map: map,
                icon: icon,
                position: point,
                url: "{{plaque.title_page_url}}",
                infowindow: new google.maps.InfoWindow({
                    content: "{{plaque.title|escape}}<p>" + 
                             "<img src='{{plaque.img_url_tiny}}'/>"
                })
            }));

            google.maps.event.addListener(markers[{{loop.index0}}], 'mouseover', function(j) {
                return function() { markers[j].infowindow.open(map, markers[j]); }
            }({{loop.index0}}));
            google.maps.event.addListener(markers[{{loop.index0}}], 'mouseout', function(j) {
                return function() { markers[j].infowindow.close(); }
            }({{loop.index0}}));
            google.maps.event.addListener(markers[{{loop.index0}}], 'click', function(j) {
                return function() { window.location.href = this.url; }
            }({{loop.index0}}));
        {% endfor %}

        map.fitBounds(bounds);
    }
</script>

<script>
    initialize();
</script>
