
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPGpsCWGQww0hOPhblgBu34eoVnzf5sKo"></script>
<script>
    function initialize() {
        var mapCanvas = document.getElementById('map');

        var mapOptions = {
            center: {
                {% if all_plaques|length == 1 %}
                    lat: {{all_plaques[0].location.lat}},
                    lng: {{all_plaques[0].location.lon}}
                {% else %}
                    lat: 0,
                    lng: -20,
                {% endif %}
            },
            zoom: {{mapzoom}},
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)

        var markers = [];

        {% for plaque in all_plaques %}
            markers.push(new google.maps.Marker({
                position: {lat: {{plaque.location.lat}},
                           lng: {{plaque.location.lon}}},
                map: map,
                url: "{{plaque.url}}",
                infowindow: new google.maps.InfoWindow({
                    content: "<a href='{{plaque.url}}'>" +
                             "<h3>{{plaque.title|escape}}</h3> <p>" + 
                             "<img src='{{plaque.thumbnail_url}}'/></a>"
                })
            }));

            google.maps.event.addListener(markers[{{loop.index0}}], 'mouseover', function(j) {
                return function() { markers[j].infowindow.open(map, markers[j]); }
            }({{loop.index0}}));
            google.maps.event.addListener(markers[{{loop.index0}}], 'mouseout', function(j) {
                return function() { markers[j].infowindow.close(); }
            }({{loop.index0}}));
            google.maps.event.addListener(markers[{{loop.index0}}], 'click', function(j) {
                return function() { window.location.href = this.url; }
            }({{loop.index0}}));
        {% endfor %}
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>

