<script async src="/static/nearhere.js"></script>

{% if loginout and loginout.is_admin %}
<nav class="navbar navbar-inverse navbar-fixed-top">
{% else %}
<nav class="navbar navbar-default navbar-fixed-top">
{% endif %}
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Read the Plaque</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form class="navbar-form navbar-left" role="search" action="/search" method="POST">
                        <div class="form-group">
                            <input name="search_term" type="text" class="form-control" placeholder="Search plaques">
                        </div>
                    </form>
                </li>
                <li><a href="/geo">Location</a></li>
                <li><a onclick="find_near_here()" href="#">Nearby</a></li>
                <li><a href="/map#bigmap">Big Map</a></li>

                {% if loginout and loginout.is_admin %}
                    <li><a href="/pending">Pending <span class="badge">{{num_pending}}{% if num_pending %}{% if num_pending > 4 %}+{% endif %}{% endif %}</span></a></li>
                    <li><a href="/flush">Flush Memcache</a></li>
                {% endif %}

                <li><a href="/randompage">Random</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/add">Submit</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="logo"></div>
<div class="title">
    A gigantic map of all the cool plaques in the world. &mdash; A <a href="http://99pi.org/">99% Invisible</a> project.
</div>

<!-- Modal -->
<div class="modal fade" id="locationModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Determining Your Location</h4>
            </div>
            <div class="modal-body">
                <p>Read the Plaque is finding your location, this can take a minute.</p>
                <p>Please authorize your browser to share your location before closing this popup.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

